
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 900px;
    margin: auto;
}
.cell{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 10px solid black;
}