
.cellContainer{
    display: grid;
    grid-template-columns: repeat(6, auto);
    margin: auto;
}
.cell{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 10px solid black;
}