.links{
    display: flex;
    justify-content: space-evenly;
    column-gap: 25px;
    row-gap: 25px;
}
.box{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 10px solid black;
}
#dinoBox{
    background-image: url("homeImgs/dinosaurgame.png");
    background-size: contain;

}
#spaceBox{
    background-image: url(homeImgs/spaceinvaders.png);
    background-size: contain;
    border: 10px solid lightgray;
}
#tictactoeBox{
    background-image: url(homeImgs/tictactoe.png);
    background-size: contain;
}
#platformerBox{
    background-color: aqua;
    background-size: contain;
}